<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
  <link rel="stylesheet" href="/styles/updateUser.css">
  <link rel="stylesheet" href="/styles/adminDashboard.css">
</head>
<body>
  <div class="form-container">
    <h2>Update User</h2>
    <form action="/updateUser/<%= user.id %>" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= user.name %>" placeholder="Enter Name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= user.email %>" placeholder="Enter email" required>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select name="role" id="role" required>
          <option value="librarian" <%= user.role === 'librarian' ? 'selected' : '' %>>librarian</option>
          <option value="student" <%= user.role === 'student' ? 'selected' : '' %>>student</option>
          <option value="member" <%= user.role === 'member' ? 'selected' : '' %>>Member</option>
        </select>
      </div>
      <button type="submit" class="btn-primary">Update</button>
    </form>
  </div>
</body>
</html>
